.game-card{
    text-align: center;
}
#display{
    margin: 20px 0;
}
#display span{
    display:inline-block;
    background-color: #f0f0f0;
    border: 2px solid #333333;
    width: 45px;
    height: 45px;
    border-radius: 8px;
    line-height: 45px;
    margin: 4px;
    font-size: 26px;
    font-weight: bold;
}
input {
    font-size: 18px;
    padding: 8px;
    width:140px;
    margin: 8px;
    text-transform: capitalize;
}
#message-text{
    font-size: 18px;
font-weight: bold;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 12px;
}

th {
    background-color: #1f5f99;
    color: white;

}
td, th {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}
.correct,
.correct-demo{
    background-color: green;

}
.close,
.close-demo{
    background-color: yellow;
}
.wrong,
.wrong-demo{
    background-color: gray;
}