body {
    font-family: monospace;
    background-color: #000;
    color: #fff;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.terminal {
    width: 80%;
    max-width: 800px;
    border: 2px solid #0f0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    overflow-y: auto; /* Enable vertical scrolling */
    position: relative; /* Ensure relative positioning for absolute child */
}

.output {
    min-height: 200px;
    padding-bottom: 20px; /* Ensure space for input line */
}

.input-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 5px; /* Padding between input and output */
}

.prompt {
    margin-right: 10px;
}

.command-line {
    border: none;
    background-color: transparent;
    color: #fff;
    font-family: monospace;
    font-size: 1em;
    width: 100%;
    outline: none;
}
.command-line:focus {
    outline: none;
}
